# Environment files
.env*

# Python cache and bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# SQLite database file
spotify_data.db

# macOS or system files
.DS_Store

# Streamlit secrets
.streamlit/secrets.toml

# Streamlit config (keep other configs if needed)
!.streamlit/config.toml

# IDE/editor folders (optional)
.vscode/
.idea/
